html, body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  color: black;
}

.weather-icon {
  width: 40px;
  height: 40px;
}

.sun {
  grid-area: sun;
  justify-self: left;
  margin-left: 50px;
}

.header {
  grid-area: header;
}

.info-block {
  margin-left: 20%;
  text-align: left;
  justify-content: left;
  width: 60%;
}

.info {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: left;
  display: inline-block;
  font-size: 16pt;
}

h1 {
  font-size: 40pt;
  font-weight: 50;
}

h2 {
  font-size: 30pt;

}

h3 {
  font-size: 20pt;

}

.grid-container {
  height: 100%;
  display: grid;
  align-content: top;
  justify-content: top;
  align-items: center;
  justify-items: center;
  grid-template-areas: "sun . ." ". header .";
  grid-template-rows: 150px 400px;
  grid-template-columns: 35% 30% 35%;
}

@media only screen and (max-width: 650px), (max-height: 500px) {
  .sun {
    margin-left: 50px;
    margin-top: 65px;
  }
  .moon {
    grid-area: moon;
    align-self: start;
    margin-right: 50px;
    margin-top: 65px;
  }
  .grid-container {
    height: 100%;
    display: grid;
    align-content: top;
    justify-content: top;
    align-items: center;
    justify-items: center;
    grid-template-areas: "sun . ." ". header .";
    grid-template-rows: 150px 200px;
    grid-template-columns: 35% 30% 35%;
  }
}







.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.sunRotate {
  -webkit-animation: rotation 8s infinite linear;
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}