html, body {
  font-family: "Proxima Nova", sans-serif;
  font-size: 14pt;
  font-weight: 100;
  line-height: 35px;
  height: 100%;
  color: black;
  background-color: #F6F5F5;
  margin: 0;
}

a { 
  color: black;
  text-decoration: none; 
}
a:visited, a:focus, a:hover, a:active { text-decoration: none; }

.heading {
  line-height: 50px;
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
}

.center {
  text-align: center;
}

.wide {
  width: 100%;
}

.greece {
  color: #0d5eaf;
}
.nu {
  color: rgb(078, 042, 132);
}

#nav-grid {
  grid-area: nav;
  justify-self: center;
}

#nav {
  text-align: center;
}

#nav-grid, #nav {
  margin: 30px;
  align-self: center;
}

#top-left {
  grid-area: top-left;
  align-self: center;
  justify-self: left;
  margin-left: 10%;
}

.tab {
  margin-left: 20px;
  margin-right: 20px;
  color: black;
}

.tab.disabled {
  pointer-events: none;
  color: grey;
}

#header {
  grid-area: header;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#profile {
  height: 70%;
  width: auto;
}

.responsive {
  width: 31%;
  margin-bottom: 3%;
  max-width: 500px;
  height: auto;
}

.info {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 15px;
}

p, strong {
  font-weight: 100;
}

strong {
  font-weight: 900;
}

.info-block {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  display: inline-block;
}

.info-block.left {
  margin-right: 2%;
}

.info-block.right {
  margin-left: 2%;
}

.photo-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

h1 {
  margin: 100px;
  font-size: 40pt;
}

h2 {
  font-size: 30pt;
  color: #72a0c1;
}

h3 {
  font-size: 20pt;
  color: #800020;
}

h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.grid-container {
  height: 100%;
  display: grid;
  grid-template-areas: ". nav ." ". header ." ". . .";
  grid-template-rows: 10% 80% 10%;
  grid-template-columns: 10% 80% 10%;
}

.grid-container-column {
  display: inline-flex;
}

.grid-header {
  height: 10%;
  display: grid;
  grid-template-areas: "top-left nav .";
  grid-template-rows: 100%;
  grid-template-columns: 10% 80% 10%;
}

@media only screen and (max-width: 650px), (max-height: 500px) {
  .grid-container {
    grid-template-areas: ". nav ." "header header header" ". . .";
  }

  #profile {
    height: 50%;
    width: auto;
  }

  .heading {
    text-align: center;
  }

  #header {
    margin-top: 50px;
    display: inline-block;
  }

  .tab {
    margin-left: 10px;
    margin-right: 10px;
  }

  .info-block {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }

  .grid-container-column {
    display: inline-block;
  }

  .info-block.left {
    margin-right: 5%;
  }

  .info-block.right {
    margin-left: 5%;
  }

  .info {
    margin-left: 0;
  }

  h1 {
    font-size: 24pt;
    margin: 0;
  }
  
  h2 {
    font-size: 20pt;
  
  }
  
  h3 {
    font-size: 16pt;
  }
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}