html, body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  line-height: 35px;
  color: black;
  background-color: #F6F5F5;
  margin: 0;
}

a { color: #0d5eaf;
  text-decoration: none; }
a:visited { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.tablinks {
  font-size: 12pt;
}

.heading {
  font-weight: 100;
  line-height: 50px;
}

.nu {
  color: rgb(078, 042, 132);
}

.weather-icon {
  width: 40px;
  height: 40px;
}

.sun {
  grid-area: sun;
  justify-self: left;
  align-self: top;
  margin-left: 10px;
  margin-top: 10px;
}

#blurb {
  height: 25%;
  margin-bottom: 5%;
  line-height: 30px;
}

#nav {
  justify-self: right;
  align-self: top;
  grid-area: nav;
}

.header {
  grid-area: header;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#profile {
  height: 70%;
  width: auto;
}

.photo {
  width: 500px;
  height: 500px;
}

.responsive {
  width: calc(100% / 3);
  max-width: 500px;
  height: auto;
}

.info {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 15px;
  font-size: 16pt;
}

.info-block {
  margin-left: 15%;
  margin-right: 15%;
  justify-content: left;
  width: 70%;
}

.info-block-cols {
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
}

.photo-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.adjacent {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.adjacent.left {
  width: 30%;
  margin-right: 9%;
}

.adjacent.right {
  width: 60%;
}

h1 {
  margin: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 40pt;
}

h2 {
  font-size: 30pt;
}

h3 {
  font-size: 20pt;
  color: #3BB4C1;
}

h2, h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.grid-container {
  height: 100%;
  display: grid;
  grid-template-areas: "sun . ." "sun header .";
  grid-template-rows: 10% 80%;
  grid-template-columns: 10% 80% 10%;
}

@media only screen and (max-width: 650px), (max-height: 500px) {
  .grid-container {
    grid-template-areas: "sun . ." "header header header";
    grid-template-rows: 20% 60%;
    grid-template-columns: 5% 90% 5%;
  }

  .weather-icon {
    display: none;
  }

  .header {
    display: inline-block;
  }

  .info-block, .info-block-cols {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }

  h1 {
    font-size: 30pt;
    font-weight: 50;
    margin: 0;
  }
  
  h2 {
    font-size: 20pt;
  
  }
  
  h3 {
    font-size: 16pt;
  }

  .info {
    font-size: 12pt;
  }

  .adjacent.left {
    width: 100%;
    margin-right: 0;
  }
  
  .adjacent.right {
    width: 100%;
  }
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.sunRotate {
  -webkit-animation: rotation 8s infinite linear;
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}